#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for mbsebbs.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Set MBSE_ROOT to mbse installation directory.
export MBSE_ROOT=/usr/lib/mbsebbs

%:
	dh $@ --with=autotools-dev

override_dh_auto_clean:
	[ ! -f Makefile.global ] || dh_auto_clean

override_dh_auto_install:

override_dh_strip:
	dh_strip --dbg-package=mbsebbs-dbg

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/mbsebbs/usr/share/mbsebbs/int/txtfiles-es.tar


